name: Docs

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Doxygen
        run: sudo apt-get install doxygen

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build docs
        run: doxygen docs/Doxyfile

      - name: Upload artifact with built docs
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/out/html

  deploy:
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
